<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    body {
      background-color: black;
      color: white;
      font-family: 'Arial', sans-serif;
    }

    .navbar {
      background-color: midnightblue;
    }
  </style>
</head>

<body>
  <div class="navbar p-4 flex justify-between items-center">
    <h1 class="text-white text-2xl font-bold">Kelompok Berapa Kita?</h1>
    <div class="flex space-x-4">
      <a href="/" class="text-white hover:text-gray-300">Home</a>
      <a href="/about" class="text-white hover:text-gray-300">About</a>
    </div>
  </div>
  <div class="container mx-auto py-8">
    <h2 class="text-2xl font-bold mb-4">About Us</h2>
    <p class="text-lg">We are a group focused on detecting phishing emails using machine learning and data analysis
      techniques</p>
    <div class="flex flex-row my-8">
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/img/card-top.jpg" alt="Yuma">
        <div class="px-6 py-4 flex flex-col items-center">
          <div class="font-bold text-xl mb-2">Samuel Yuma K.</div>
          <p class="text-white text-base">
            Information Technology
          </p>
          <p class="text-white text-base">Institut Teknologi Sepuluh Nopember Surabaya</p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/img/card-top.jpg" alt="Adi">
        <div class="px-6 py-4 flex flex-col items-center">
          <div class="font-bold text-xl mb-2">Gavriel Pramuda Kurniaadi</div>
          <p class="text-white text-base">
            Information Technology
          </p>
          <p class="text-white text-base">Institut Teknologi Sepuluh Nopember Surabaya</p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/img/card-top.jpg" alt="Dito">
        <div class="px-6 py-4 flex flex-col items-center">
          <div class="font-bold text-xl mb-2">Muhammad Harvian Dito S.</div>
          <p class="text-white text-base">
            Information Technology
          </p>
          <p class="text-white text-base">Institut Teknologi Sepuluh Nopember Surabaya</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>